@model IEnumerable<iPlace.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produtos Disponíveis</h2>

<p>
    <a href="/Produto/Create" class="btn btn-primary">Novo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdProduto }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdProduto }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IdProduto })
        </td>
    </tr>
}

</table>
