@model IEnumerable<Wallet.Models.Usuario>

@{
    ViewBag.Title = "Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
   <span class="glyphicon glyphicon-user">Usuarios</span>
</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            E-mail
        </th>
        <th>
            Tipo de Conta
        </th>
        <th>Ação</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUsuario })
        </td>
    </tr>
}

</table>
